<html lang="en">
<head>
  <title>Visualizing Networks</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0"/>
</head>

<script src="./static/libraries/d3.v6.min.js"></script>
<script src="./static/libraries/d3-selection-multi.v1.min.js"></script>
<script src="./static/libraries/jquery-3.4.0.min.js"></script>

<script src="./static/libraries/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="./static/libraries/bootstrap.min.css">

<body> 
    <div class="container-fluid">
        <div class="text-center">
            <svg id="canvas"></svg>
        </div>

        <div class="text-center my-2">
            <div class="progress" style="width: 100%;">
                <div id="progress_bar" class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>

        <div class="text-center">
            <button class="btn btn-primary" onclick="prev()">Prev</button>
            <button class="btn btn-primary" onclick="next()">Next</button>
        </div>
    </div> 
</body>

<script>

    let data = JSON.parse( '{{ data|safe }}' );

</script>

<script src="./static/js/display.js"></script>
<script src="./static/js/forceGraph.js"></script>
<script src="./static/js/index.js"></script>